html {
    margin: 9px;
    padding: 9px;
}
body {
    
    background-color: darkgreen;
     
}
.click {
    color:red;
    text-align:right;
}
.h1{
    background-color:red;
}
.h2 {
    background-color:orange;
}

.h4 {
    background-color:purple;
}
h1 {
 margin: 10px;
    padding: 0;
    text-align: center;
    color: orange;
    font-family: verdana;

}
h2 {
 margin: 10px;
    padding: 0;    
    text-align: center;
    font-family: verdana;
    color: green;

}
h3 {
 margin: 10px;
    padding: 0;
    text-align: right;
    font-family: verdana;
    color: hotpink;

}
.poop{
    color:  #b5651d;
}
.feeling{
    color:lime;
}
img{
width: 400px;
  margin: 0 auto; 
float: right; }
h4 {
 margin: 10px;
    padding: 0;
    text-align: center;
    font-family: verdana;
    color: hotpink;
   

}
p {
    text-align: left;
    color: orange;
    font-family: verdana;
    color: aqua;

}
